@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    margin: 0;
    background: rgb(28, 39, 141);
    background: radial-gradient(circle, rgba(102,37,115,1) 0%, rgba(37,66,184,1) 100%);
    font-family: 'Libre Baskerville', serif;
}
main{
    display: flex;
    position: relative;
    top: 1vh;
    left: 1vw;
    background-color: rgb(27, 23, 23);
    height: 98vh;
    width: 98vw;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
img{
    height: 400px;
    width: 400px;
}
.esquerda > h1{
    color: rgb(100, 100, 191);
}
.esquerda{
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direita{
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    height: 630px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30vw;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgb(90, 135, 175);
}

@media only screen and (max-width: 600px) {
    
}