@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    margin: 0;
    background: rgb(52,16,79);
background: linear-gradient(101deg, rgba(52,16,79,1) 34%, rgba(221,27,124,1) 88%);
    font-family: 'Libre Baskerville', serif;
}

main {
    display: flex;
    position: relative;
    top: 1vh;
    left: 1vw;
    background-color: rgb(27, 23, 23);
    height: 98vh;
    width: 98vw;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

img {
    height: 400px;
    width: 400px;
}

.esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.esquerda:hover,
.direita:hover {
    background-color: #1f1c1c;
    border-radius: 50px;
}

.card:hover{
    box-shadow: 0px 0px 50px 0px rgba(172, 48, 145, 0.247);
}

.direita {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 10px;
    align-items: center;
    display: flex;
    width: 30vw;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgb(90, 135, 175);
    transition: .5s ease-in;
}

.joao {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    background: rgb(52,16,79);
background: linear-gradient(101deg, rgba(52,16,79,1) 34%, rgba(134,36,139,1) 88%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.titulo {
    
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    background: rgb(149,84,142);
background: linear-gradient(101deg, rgba(149,84,142,1) 34%, rgba(134,36,139,1) 88%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.campo {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.campo label {
    font-size: 25px;
    font-weight: bold;
    color: #252525;
    margin-bottom: 30px;
}
.campo input {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 10px;
}
.campo input:hover {
    background-color: #efefef;
}

.campo input::placeholder {
    color: #8b8686;
    font-size: 20px;
}

button {
    background-color: #3f2666;
    border-radius: 10px;
    padding: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    width: 100%;
    cursor: pointer;
    box-shadow: #000000;
}

button:hover {
    background-color: #7345bd;
}

@media screen and (max-width: 943px) {
    main {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .titulo {
        display: none;
    }
    .direita {
        width: 100%;
        height: auto;
    }
    .esquerda > image {
        width: 50vw;
    }
    button {
        margin-bottom: 20px;
    }
    .card {
        width: 100%;
        height: auto;
        background-color: rgb(90, 135, 175);
        box-shadow: none;
        align-items: center;
    }
    .card:hover {
        box-shadow: none;
    }
    .campo {
        width: 100%;
        height: auto;
       
    }
    input {
        width: 100%;
        height: auto;
        
    }
}